/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
  left: 100px;
}

.dropdown-content li {
  list-style: none;
  padding: 12px 16px;
  cursor: pointer
}

.dropdown-content li:hover {
  background-color: #ddd;
}



/* Links inside the dropdown */
.dropdown-content a {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
// .show {display:block;}

.project-show-header {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  margin-top: 12px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: solid lightgray 1px
}

.project-show-header button {
  border: none;
  background-color: white;
}

.task-table-header {
  display: grid;
  grid-template-columns: 40% 20% 20% 10%;
  margin-top: 10px;
}

.task-table-header h4{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid lightgray 1px;
  border-left: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: 12px

}

.task-list-heading {
  color: black;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-weight: 500;
}

.task-list {
  margin-left: 15px;
}

.task-list button {
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  border: solid lightgray 1px;
  outline: none;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
}

.task-list button:hover {
  cursor: pointer;
}

#create-button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.task-index-item {
  display: grid;
  grid-template-columns: 40% 20% 20% 10%;
  font-size: 14px;
}

// .task-index-item:hover {
//   background-color: whitesmoke;
// }

.task-index-item p {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid lightgray 1px;
  border-left: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-task-form {
  display: grid;
  grid-template-columns: 40% 20% 20% 10%;
}

.task-index-item button {
  margin: 0px;
  background-color: rgb(255, 0, 0);
  color: white;
}

.task-index-item button:hover {
  background-color: rgb(235, 10, 10);
}


.create-task-form input {
  border: none
}

.create-task-form input:focus {
  border: solid 1px lightblue;
  outline: none;
}

#create-plus {
  width: 0px;
  padding: 0px;
  margin: 0px;
}

.proj-drop-container {
  position: relative;
}

#user {
  color: gray;
  outline: none;
  border: none;
}

#user:focus {
  border: solid 1px lightblue;
  outline: none;
}

  input[type="date"] {
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .create-task-form input:hover {
    background-color:whitesmoke;
  }

    .create-task-form select:hover {
    background-color:whitesmoke;
  }

  .create-task-form button {
    height: 100%;
    margin: 0px;
    background-color: rgb(30, 144, 255);
    color: white;
  }

  .create-task-form button:hover {
     background-color: (20, 134, 245);
  }


  



