.signup-box {
    background-position: right;
    min-height: 100%;
    background-size: 30% 100%;
    background-image: url('signup-wallpaper.jpg');
    background-repeat: no-repeat;
    
}

#signup-wallpaper {
    height: 200px;
    width: 200px;
}

.sign-up-form {
    margin-left: 40px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.sign-up-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: lightgray;
    width: 250px;
    margin-bottom: 1px;
}

.sign-up-form input:focus {
    border-color: rgb(156,166,175);
}

.sign-up-form input:focus {
  outline: none;
}

.sign-up-btn {
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 3px;
    border-color: lightgray;
    border-style: solid;
    outline: 0px;
}

.sign-up-btn:hover {
    cursor: pointer;
    background-color: rgb(121,110,255);
    color: white;
    border-color: rgb(121,110,255);
}

.sign-up-form label {
    margin-bottom: 30px;
    font-family: Helvetica;
}

.sign-up-form h2 {
    font-size: 30px;
    font-family: Helvetica;
}

.asana-logo {
    margin-left: 15px
}

.sign-up-subscript {
    transform: none;
    font-size: 11px;
    font-family: sans-serif;
    color: gray;
    margin-top: 40px;
}

.login-link {
    text-decoration: none;
    color: skyblue;
}

.sign-up-form p {
    font-size: 11px;
    font-family: sans-serif;
    color: gray;
    margin-bottom: 30px;
}

.signup-error p {
    color: red;
    font-family: sans-serif;
    font-size: 13px;
    padding: 10px;
    background-color: rgb(255,237,239);
    width: 200px
}





