.splash-nav {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
}

.splash-nav-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 10%;
    align-items: center;
    margin-bottom: 5px;
    transform: translateY(-25%);
}


.splash-nav-right a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: Helvetica;
    padding: 8px;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.splash-nav-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 15px;
    z-index: -1;
    transform: translateY(-130%);
   
}

.splash-nav-left a {
    height: 18px;
}



#signup {
    background-color: rgba(43, 43, 43, 0.982);
    color: white;
    border-radius: 3px;
}

#signup:hover {
    background-color: black;
}

#login:hover {
    color: rgb(128,119,250)
}