.splash-nav {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
}

.splash-nav-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 10%;
    align-items: center;
    margin-bottom: 5px;
    transform: translateY(-25%);
}


.splash-nav-right a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: Helvetica;
    padding: 8px;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.splash-nav-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 15px;
    z-index: -1;
    transform: translateY(-130%);
   
}

.splash-nav-left a {
    height: 18px;
}



#signup {
    background-color: rgba(43, 43, 43, 0.982);
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

#signup:hover {
    background-color: black;
}

#login:hover {
    color: rgb(128,119,250)
}

.splash-text-box {
    width: 45%;
    height: 80%;
    margin: 10%;
    font-family: Arial;
}

.splash-heading {
    font-size: 40px;
    height: 200px;
    line-height: 125%;
}

.splash-description {
    border-top: solid white;
    border-width: 1px;
    padding-top: 20px;
    position: relative;
    width: 80%;
    line-height: 180%;
    height: 125px;
}

.splash-description:after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid gray;
    width: 20%;
    top: -5px;
}

.splash-signup a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: Helvetica;
    font-size: 15px;
    padding: 8px;
}



.splash-main-page {
    display: flex;
    background-position: right;
    min-height: 100vh;
    background-size: 40% 100%;
    background-image: image_url('yosemite.jpeg');
    background-repeat: no-repeat;
}







